<div class="wrapper">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div class="row height__no-nav">
      <div class="col-xs-12 col-sm-12 col-md-8 flex__vert--center">
        <div class="modal__container--counsellor">
          <div class="modal__card--counsellor">
            <div class="modal--counsellor-photo"></div>
            <div class="modal--counsellor-text">
              <h4>Jane Doe</h4>
              <h5>Expertise:<br>Work / Family</h5>
              <p>Jon is a trained and accredited by the professional body the British Association for Counselling and Psychotherapy.</p>
            </div>
          </div>
          <div class="modal__card--counsellor">
            <h1>Counsellor B</h1>
          </div>
          <div class="modal__card--counsellor">
            <h1>Counsellor C</h1>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4 flex__vert--left background--multiply">
        <div class="well-lg width--100">
          <h2 class="font__color--white">Sign up</h2>
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>
            <div class="form-inputs">
              <%= f.input :email, required: true, autofocus: true %>
              <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
              <%= f.input :password_confirmation, required: true %>
            </div>
            <div class="form-actions">
              <%= f.button :submit, "Submit"%>
            </div>
            <%#= render "devise/shared/links" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>