<h1>New Conversation</h1>

<%= form_tag conversations_path, method: :post do %>
  <div>
    <% if current_counsellor %>
      <%= select_tag :user_id, options_from_collection_for_select(@recipients, :id, :name) %> <!-- :name is a method defined in the user model -->
    <% elsif current_user %>
      <%= select_tag :counsellor_id, options_from_collection_for_select(@recipients, :id, :name) %>
    <% end %>
  </div>
  <div>
    <%= text_field_tag :subject, nil, placeholder: "Subject", class: "debug" %>
  </div>
  <div>
    <%= text_area_tag :body, nil, placeholder: "Leave a comment" %>
  </div>

  <%= submit_tag "Start a conversation", class: "btn btn--sm btn--invert font__color--white" %>
<% end %>
