<div class="wrapper">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div class="row height__no-nav">

      <div class="col-xs-12 col-sm-12 col-md-6 flex--vh-center">
          <%= render 'shared/chat' %>
          <!-- <p><%#= @user.email %></p> -->
          <!-- <p><%#= @user.user_name %></p> -->
      </div>

      <div class="col-xs-12 col-sm-12 col-md-6 dashboard--container height--100 background--multiply">
        <div class="row height--50 dashcard">
          <div id="dashcard__counsellor" class="col-md-4 height--100 flex--vh-center">
            <div class="text-center">
              <h5 class="font__color--white">Your Counsellor</h5>
              <%= cl_image_tag @counsellor.photo, crop: :fill %>
              <h4 class="font__color--white"><%= @counsellor.first_name %><br><%= @counsellor.last_name %></h4>
              <a class="font__color--white font__size--tc change__counsellor">Prefer a different counsellor?</a>
            </div>
          </div>

          <div id="dashcard__calendar" class="col-md-8 height--100 flex--vh-center">

            <!-- Insert calendar from appointments/index for testing purposes -->

            <%= stylesheet_link_tag 'calendar', media: 'all' %>

            <!-- In-file styling of the calendar -->
         <!--    <style>
              #calendar {
                font-size: 14px;
                margin-right: -25px;
                /*width: 90%;*/
              }
            </style> -->

            <div class='calendar'></div>


            <!-- <div id="calendar"></div> -->



            <% content_for(:after_js) do %>
              <%= javascript_tag do %>




                var event = {
                  id: 1,
                  title: "test",
                  start: new Date()
                };


                $('#calendar').fullCalendar({
                  height: "parent",
                  defaultView: "month",
                  header: false,
                  weekends: false,
                  selectable: true,


                  select: function(start){
                    alert(start);
                    // var selDate = new Date(start);
                    // add your function
                  },

                  events: [

                    <% @appointments.each do |appointment| %>
                      {
                          <!-- title  : <%= ("Booked").to_json.html_safe %>, -->
                          start  : <%= appointment.start_time.strftime("%Y-%m-%dT%H:%M").to_json.html_safe %>,
                          end    : <%= appointment.end_time.strftime("%Y-%m-%dT%H:%M").to_json.html_safe %>,
                          title    :
                         <!--  Probably don't need, since all bookings should from now on have a URL -->
                          <% if appointment.url %>
                            "Booked with the URL: " + <%= appointment.url.to_json.html_safe %>
                          <% else %>
                            <%= ("Booked").to_json.html_safe %>
                          <% end %>,
                          url    : <%= appointment.url.to_json.html_safe %>

                      },
                    <% end %>
                  ],

                  eventClick: function(event) {
                    if (event.url) {
                        window.open(event.url);
                        return false;
                    }


                  }
                });


                $('#calendar').fullCalendar( 'renderEvent', event, true);


              <% end %>
            <% end %>


            <!--<%#= render 'shared/calendar' %> -->
          </div>
        </div>

        <div class="row height--50 dashcard">
          <div id="dashcard__goals" class="col-md-6 height--100 flex--vh-center">
            <div class="text-center">
              <!-- <i class="fa fa-flag fa-5x font__color--white"></i>
              <br>
              <br> -->
              <p class="font__color--white">Goals</p>
              <!-- <p class="font__color--white">[UNDER CONSTRUCTION]</p> -->
              <%= render 'shared/goals' %>
            </div>
          </div>
          <div id="dashcard__mood" class="col-md-6 height--100 flex--vh-center">
            <%= render 'shared/mood_tracker' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal" id="modal-open">
  <%= @mood_tracker_check %>
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content background--multiply">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title font__color--white" id="myModalLabel">Mood Tracker</h4>
        <h4 class="modal-title font__color--white" id="myModalLabel">Please click a face according to your mood</h4>  
      </div>
      <div class="modal-body">
        <%= simple_form_for @mood, :method => 'post' do |f| %>
          <%#= f.error_notification %>
          <ul class="list-inline text-center">
            <li class="list-inline-item mood-face">
              <h2>😱</h2>
            </li>
            <li class="list-inline-item mood-face">
              <h2>😭</h2>
            </li>
            <li class="list-inline-item mood-face">
              <h2>🙂</h2>
            </li>
            <li class="list-inline-item mood-face">
              <h2>😀</h2>
            </li>
            <li class="list-inline-item mood-face">
              <h2>😁</h2>
            </li>
          </ul>
          <!-- if set as: :hidden, select option will disapper -->
          <!-- so set display: none in the css -->
          <%= f.input :mood, collection: 1..5 %>
          <%= f.button :submit, "Save your mood", class: "btn btn-primary mood-submit"%>
        <% end %>
      </div>
<!--       <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
<script>
  var modalOpen = document.querySelector("#modal-open")
  if (<%= @mood_tracker_check %>) {
    modalOpen.click();
    console.log("Modal opens")
  }

  var moodSelector = document.querySelector("#mood_mood")
  console.log(moodSelector)
  console.log(moodSelector.selectedIndex)
  var moodFaces = document.querySelectorAll(".mood-face")
  console.log(moodFaces)
  var moodButton = document.querySelector(".mood-submit")
  console.log(moodButton)
  
  moodFaces.forEach(function(face, i) {
    face.addEventListener("click", function(e){
      moodSelector.selectedIndex = 0
      e.preventDefault()
      console.log(face, i)
      moodSelector.selectedIndex = i + 1
      console.log(moodSelector.selectedIndex)
      moodButton.click()
    });
  })
</script>
<% end %>


