<div class="wrapper">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div class="row height__no-nav">

      <div class="col-xs-12 col-sm-12 col-md-6 flex--vh-center">
          <%= render 'shared/chat' %>
          <!-- <p><%#= @user.email %></p> -->
          <!-- <p><%#= @user.user_name %></p> -->
      </div>

      <div class="col-xs-12 col-sm-12 col-md-6 dashboard--container height--100 background--multiply">
        <div class="row height--50 dashcard">
          <div id="dashcard__counsellor" class="col-md-4 height--100 flex--vh-center">
            <div class="text-center">
              <h5 class="font__color--white">Your Counsellor</h5>
              <%= cl_image_tag @counsellor.photo, crop: :fill %>
              <h4 class="font__color--white"><%= @counsellor.first_name %><br><%= @counsellor.last_name %></h4>
              <a class="font__color--white font__size--tc change__counsellor">Prefer a different counsellor?</a>
            </div>
          </div>

          <div id="dashcard__calendar" class="col-md-8 height--100 flex--vh-center">
            <%= render 'shared/calendar' %>
          </div>
        </div>

        <div class="row height--50 dashcard">
          <div id="dashcard__goals" class="col-md-6 height--100 flex--vh-center">
            <div class="text-center">
              <!-- <i class="fa fa-flag fa-5x font__color--white"></i>
              <br>
              <br> -->
              <p class="font__color--white">Goals</p>
              <!-- <p class="font__color--white">[UNDER CONSTRUCTION]</p> -->
              <%= render 'shared/goals' %>
            </div>
          </div>
          <div id="dashcard__mood" class="col-md-6 height--100 flex--vh-center">
            <%= render 'shared/mood_tracker' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
