<div class="width--same-as-graph">
  <h5 class="font__color--white">Goals</h5>
  <ul class="goal__list--container">
    <% @user.goals.each do |goal| %>

      <li class="flex--vh-spb goal">
        <p class="goal__list--text font__color--white"><%= goal[:content]%></p>
        <div class="button__case">
          <!-- <a class="btn btn--check"><i class="fa fa-check" aria-hidden="true"></i></a> -->
          <%= link_to "<i class='fa fa-times' aria-hidden='true'></i>".html_safe, goal_path(goal.id), method: :delete, class: 'btn btn--delete' %>
        </div>
      </li>

    <% end %>
  </ul>

  <%= form_for(@goal) do |f| %>
    <%= f.text_field :content, class: "goal__input", :placeholder => "New Goal" %>
    <div class="button__case">
      <%= f.submit '+', :class => 'btn btn--invert btn--xs goal__btn' %>
    </div>
  <% end %>
</div>

<% content_for(:after_js) do %>
<script>


  // GOAL HIDER START
  $(document).ready(function(){
    // var btns = $('a.btn--delete');
    var btns = document.querySelectorAll('a.btn--delete');
    console.log(btns);
    btns.forEach(function(btn, i) {
      btn.addEventListener('click', function(e) {
        console.log(e.target);
        var goal = $(e.target).closest('li.goal');
        console.log(goal);
        // goal.addClass('scale--y--0');
        goal.addClass('active');
      });
    });
  });
  // setTimeout(function() {}, 7000);
  // GOAL HIDER END


  // var checkButtons = document.querySelectorAll(".btn--check");
  // checkButtons.forEach(function(button, i) {
    // button.addEventListener("click", function(e){
      // var buttonClicked = $(e.target).closest(".btn");
      // console.log(buttonClicked);
      // buttonClicked.closest("p.goal__list--text").addClass('done');
      // console.log(buttonClicked.closest("p.goal__list--text"));
    // });
  // });

  // var goalChecks = $(".btn--check");
  // $.each(goalChecks, (function(i, check) {
  //   check.addEventListener("click", function(e) {
  //   var p = $(e.target).closest("p.goal__list--text");
  //   p.toggleClass("done");
  //   });
  // }));
</script>
<% end %>