
<div class="wrapper">
  <!-- <div class="background--home" style="background-image: url(<%#= image_path "pexels-photo-238118" %>)"></div> -->
  <div class="background--home"></div>

  <!-- div.row is in application.html.erb -->
  <!-- <div class="container-fluid"> -->
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="row height__no-nav">
        <div class="col-xs-12 col-sm-12 col-md-7 col-md-offset-1 flex--vh-left">
          <div>
            <h1>Counsellor</h1>
            <h2 class="bfont"><%= t('.feeling_down?') %></h2>
            <h3 class="bfont"><%= t('.private_and_convenient') %><br><%= t('.online_chat') %></h3>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 flex--vh-center background--multiply position--relative">
          <div class="text-center">
            <%= link_to t('.get_started'), new_answer_path, class: "btn" %>
            <p class="font__color--white anchor__text"><%= link_to t('.log_in_if'), new_user_session_path, class: "" %></p>
            <p class="font__color--white"><%= t('.or') %></p>
            <p class="font__color--white anchor__text"><%= link_to t('.work_with_us'), new_counsellor_registration_path, class: "" %></p>
            <%#= link_to "Counsellor login", new_counsellor_session_path, class: "btn-success" %>
          </div>
        </div>
      </div>
    </div>

  <!-- </div> -->
</div>
