<%= stylesheet_link_tag 'calendar', media: 'all' %>
<div id='calendar'></div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>

    $('#calendar').fullCalendar({
      defaultView: "listWeek",
      weekends: false,
      events: [

            <% @appointments.each do |appointment| %>
            {
                title  : <%= ("Booked").to_json.html_safe %>,
                start  : <%= appointment.start_time.strftime("%Y-%m-%dT%H:%M").to_json.html_safe %>,
                end    : <%= appointment.end_time.strftime("%Y-%m-%dT%H:%M").to_json.html_safe %>
            },
            <% end %>
        ],
      dayClick: function() {
            alert('a day has been clicked!');
        },
    });


  <% end %>
<% end %>


<% user = current_user.user_create raise %>
<% user_list['users'].each do |user| %>
  <% user_id = user['id'] %>
  <%= ZoomusClient.meeting_create(host_id: user_id, topic: "Testing!", type: 2) raise %>
<% end %>

<% begin  %>
<% user_list = ZoomusClient.user_list! %>
<% rescue Zoomus::Error => exception %>
<%=  'Something went wrong' %>
<% end %>

