<%= stylesheet_link_tag 'calendar', media: 'all' %>
<div id='calendar'></div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>

    $('#calendar').fullCalendar({
      defaultView: "listWeek",
      weekends: false,
      events: [

            <% @appointments.each do |appointment| %>
            {
                title  : <%= ("Booked").to_json.html_safe %>,
                start  : <%= appointment.start_time.strftime("%Y-%m-%dT%H:%M").to_json.html_safe %>,
                end    : <%= appointment.end_time.strftime("%Y-%m-%dT%H:%M").to_json.html_safe %>,
                url    : <%= appointment.url %>
            },
            <% end %>
        ],
      dayClick: function() {
            alert('a day has been clicked!');
        },
    });


  <% end %>
<% end %>


<%# user_id = ZoomusClient.user_list['users'][0]['id'] %>
<%# join_url = ZoomusClient.meeting_create(host_id: user_id, topic: "Testing!", type: 2)['join_url'] %>
<!-- <p>Here's the join URL: <%#= join_url %></p> -->


<!-- ZoomusClient.meeting_create(host_id: ZoomusClient.user_list['users'][0]['id'], topic: "testing", type: 2)['join_url'] -->

<%# begin  %>
<%# user_list = ZoomusClient.user_list! %>
<%# rescue Zoomus::Error => exception %>
<%#=  'Something went wrong' %>
<%# end %>
