<h2>User Sign up</h2>

<p>User's answer to questions</p>
<% @answers.each do |answer| %>
  <p><%= answer.question.content %></p>
  <p>Answer is <%= answer.content == 0 ? "No" : "Yes" %></p>
<% end %>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.association :counsellor, 
        required: true, 
        autofocus: true, 
        collection: @matched_counsellors,
        :label_method => 
        lambda { |counsellor| "#{counsellor.first_name} #{counsellor.last_name} #{counsellor.specialty_list.sort } #{counsellor.gender == 0 ? "Male" : "female" } " } %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
