<div class="wrapper">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div class="row height__no-nav">

      <div class="col-xs-12 col-sm-12 col-md-8 flex--vh-center modal__container">
        <div class="modal__header">
          <h2>We recommend these Counsellors for you</h2>
          <h3>Click to select and take a closer look</h3>
        </div>
        <div class="modal__container--counsellor">
        <% @matched_counsellors.each_with_index do |counsellor, i| %>
          <div class="modal__card--counsellor" data-index=<%= i + 1 %>>
            <div class="modal--counsellor-photo" style="background-image: url(<%= counsellor.photo %>)"></div>
            <div class="modal--counsellor-text">
              <div>
                <h3 class="counsellor__name"><%= counsellor.first_name %> <%= counsellor.last_name %></h3>
                <h5 class="counsellor__expertise">Expertise: <%= counsellor.specialty_list %></h5>
                <p class="summary"><%= counsellor.first_name %> is a trained and accredited by the professional body the British Association for Counselling and Psychotherapy. There's an event so we've migrated to the tables.</p>
                <p class="whole invisible"><%= counsellor.first_name %> is a trained and accredited by the professional body the British Association for Counselling and Psychotherapy. There's an event so we've migrated to the tables.<br><br>Psychology is the science of behavior and mind, embracing all aspects of conscious and unconscious experience as well as thought. It is an academic discipline and a social science which seeks to understand individuals and groups by establishing general principles and researching specific cases.<br><br>In this field, a professional practitioner or researcher is called a psychologist and can be classified as a social, behavioral, or cognitive scientist. Psychologists attempt to understand the role of mental functions in individual and social behavior, while also exploring the physiological and biological processes that underlie cognitive functions and behaviors.</p>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4 flex--vh-center background--multiply">
        <div class="well-lg width--100">
          <h2 class="font__color--white">Getting started</h2>
            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= f.error_notification %>
              <div class="form-inputs">
                <%= f.input :email, required: true, autofocus: true %>
                <%= f.association :counsellor,
                    required: true,
                    autofocus: true,
                    collection: @matched_counsellors,
                    :label_method =>
                    lambda { |counsellor| "#{counsellor.first_name} #{counsellor.last_name}" } %>
                <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
                <%= f.input :password_confirmation, required: true %>
              </div>
              <div class="form-actions">
                <%= f.button :submit, "Sign up", class:"btn--sm" %>
              </div>
            <% end %>
        </div>
      </div>

    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
<script>
$(document).ready(function(){
  var counsellorInput = document.querySelector("#user_counsellor_id");
  var counsellorCards = document.querySelectorAll(".modal__card--counsellor");
  counsellorCards.forEach(function(card, i) {
    counsellorInput.selectedIndex = 0;
    var cardIndex = card.attributes[1].value;
    card.addEventListener("click", function(e) {
      counsellorInput.selectedIndex = cardIndex;
      var clickedCard = $(e.target).closest("div.modal__card--counsellor");
      clickedCard.toggleClass("active");
      clickedCard.find("div.modal--counsellor-text").toggleClass("active")
      clickedCard.find("p.summary").toggleClass("invisible");
      clickedCard.find(".counsellor__name").toggleClass("active");
      clickedCard.find(".counsellor__expertise").toggleClass("active");
      if (clickedCard.find("p.whole").hasClass("invisible")) {
        setTimeout(function() {
          clickedCard.find("p.whole").removeClass("invisible");
          clickedCard.find("p.whole").addClass("activate");
          setTimeout(function() {
            clickedCard.find("p.whole").addClass("selected");
          }, 800);
        }, 800);
      } else if (!clickedCard.find("p.whole").hasClass("invisible")) {
        clickedCard.find("p.whole").addClass("invisible");
        clickedCard.find("p.whole").removeClass("activate");
          clickedCard.find("p.whole").removeClass("selected");
      }
    });
  })
});
</script>
<!-- ES 6 VERSION BACKUP / INCOMPATIBLE WITH HEROKU (;_;) -->
<!-- <script>
  var counsellorInput = document.querySelector("#user_counsellor_id");
  var counsellorCards = document.querySelectorAll(".modal__card--counsellor");
  counsellorCards.forEach((card, i) => {
    counsellorInput.selectedIndex = 0;
    var cardIndex = card.attributes[1].value;
    card.addEventListener("click", (e) => {
      counsellorInput.selectedIndex = cardIndex;
      var clickedCard = $(e.target).closest("div.modal__card--counsellor");
      clickedCard.toggleClass("active");
      clickedCard.find("div.modal--counsellor-text").toggleClass("active")
      clickedCard.find("p.summary").toggleClass("invisible");
      clickedCard.find(".counsellor__name").toggleClass("active");
      clickedCard.find(".counsellor__expertise").toggleClass("active");
      if (clickedCard.find("p.whole").hasClass("invisible")) {
        setTimeout(function() {
          clickedCard.find("p.whole").removeClass("invisible");
          clickedCard.find("p.whole").addClass("activate__height");
        }, 500);
      } else if (!clickedCard.find("p.whole").hasClass("invisible")) {
        clickedCard.find("p.whole").addClass("invisible");
        clickedCard.find("p.whole").removeClass("activate__height");
      }
    });
  })
</script> -->
<% end %>